h1 Homework creation

form(action="/homeworks", method="post")

    label(for="number") Homework number:
    input(type="number", id="number", name="number", required)

    br

    label(for="title") Homework title:
    input(type="text", id="title", name="title", required)

    br

    label(for="description") Homework description:
    input(type="text", id="description", name="description", required)

    br

    input(type="submit", value="Submit")


hl
a(href="/") Home page
