p(style="font-size: 18px; color: #333;") Qty of students:
    b= qty

br
br
br

a(href="/students", style="text-decoration: none; color: #007bff;") Open students
br
a(href="/homeworks", style="text-decoration: none; color: #007bff;") Open homeworks
