h1 Student creation

form(action="/students", method="post")
    label(for="name") Student name:
    input(type="text", id="name", name="name", required)

    input(type="submit", value="Submit")


hl
a(href="/") Home page
